
/* ----------------------------
        Common Styles Started
------------------------------ */
body{
    font-family: 'Playfair Display', serif;
    padding: 0% 10%;  
}
h1{
    font-size: 50px;
    margin: 5px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
p{
    font-size: 20px;
    text-align: justify;
}
.d-flex{
    display: flex;
}
.color-orange{
    color: orange;
}
.button{
    text-decoration: none;
    font-weight: 700;
    background-image: linear-gradient(salmon, tomato);
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    transition: .5s;   
}
.button:hover{
    background-image: linear-gradient( rgb(251, 87, 58),rgb(248, 138, 126));
box-shadow: 0 0 10px 0 #777;
}

.text-center{
    text-align: center;
    margin-top: 15%;
}
/* ----------------------------
        Common Styles Ended
------------------------------ */





/* -----------------------------
Stay Focused Secetion is Started 
--------------------------------*/

.half-width{
width: 50%;
}
.half-width img{
    width: 70%;
    padding: 10% 0 0 30% ;  
}
.stay-focused{
    display: flex;
    padding-top: 30%;
}
.emty-div{
width: 3px;
height: 124px;
border: 1px solid #FF5959;
background-color: #FF5959;
border-radius: 5px;
margin-top: 18px;
}

/* -----------------------------
Stay Focused Secetion is Ended 
--------------------------------*/




/* --------------------------------
     My Mission 2022 Is Started
---------------------------------- */
.my-mission{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.mission{
    background: rgba(79, 157, 166, 0.1);
    border-radius: 25px;
    padding: 0 2% 0 3%;
    transition: 1.5s;
}
.mission img{
    width: 200px;
}
.mission:hover{    
    box-shadow: 0 0 20px 0 #777;
}

.vission{
    background: rgba(255, 89, 89, 0.1);
    border-radius: 25px;
    padding: 0 2% 0 3%;
    margin: 0 4% 0 4%;
    transition: 1.5s;
}
.vission img{
    width: 200px;
}
.vission:hover{    
    box-shadow: 0 0 20px 0 #777;
}

.goals{
    background: #FFF4D6;
    border-radius: 25px;
    padding: 0 2% 0 3%;
    transition: 1.5s;
}
.goals img{
    width: 200px;
}
.goals:hover{    
    box-shadow: 0 0 20px 0 #777;
}
/* --------------------------------
     My Mission 2022 Is Ended
---------------------------------- */

/* #main {
    width: 400px;
    height: 100px;
    border: 1px solid #c3c3c3;
    display: flex;
    justify-content: space-around;
  } */






/* @media screen and (min-width: 1550px) {
    body{
        width:1450px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
} */