
/* ----------------------------
        Common Styles Started
------------------------------ */
body{
    font-family: 'Playfair Display', serif;
    margin: 0%;
    
}
.padding-maintin{
    padding: 0% 10%; 
    margin: 5%; 
    
}
h1{
    font-size: 50px;
    margin: 5px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
p{
    font-size: 20px;
    text-align: justify;
}
.d-flex{
    display: flex;
}
.color-orange{
    color: orange;
}
.button{
    text-decoration: none;
    font-weight: 700;
    background-image: linear-gradient(salmon, tomato);
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    transition: .5s;   
}
.button:hover{
    background-image: linear-gradient( rgb(251, 87, 58),rgb(248, 138, 126));
box-shadow: 0 0 10px 0 #777;
}

.text-center{
    text-align: center;
}
/* ----------------------------
        Common Styles Ended
------------------------------ */





/* -----------------------------
Stay Focused Secetion is Started 
--------------------------------*/

.half-width{
width: 50%;
}
.half-width img{
    width: 90%;
    padding: 10% 0 0 30% ;  
}
.stay-focused{
    display: flex;
    padding-top: 30%;
}
.emty-div{
width: 3px;
height: 124px;
border: 1px solid #FF5959;
background-color: #FF5959;
border-radius: 5px;
margin-top: 18px;
}

/* -----------------------------
Stay Focused Secetion is Ended 
--------------------------------*/




/* --------------------------------
     My Mission 2022 Is Started
---------------------------------- */
.my-mission{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.mission{
    background: rgba(79, 157, 166, 0.1);
    border-radius: 25px;
    padding: 0 2% 0 3%;
    transition: 1.5s;
}
.mission img{
    width: 200px;
}
.mission:hover{    
    box-shadow: 0 0 20px 0 #777;
}

.vission{
    background: rgba(255, 89, 89, 0.1);
    border-radius: 25px;
    padding: 0 2% 0 3%;
    margin: 0 4% 0 4%;
    transition: 1.5s;
}
.vission img{
    width: 200px;
}
.vission:hover{    
    box-shadow: 0 0 20px 0 #777;
}

.goals{
    background: #FFF4D6;
    border-radius: 25px;
    padding: 0 2% 0 3%;
    transition: 1.5s;
}
.goals img{
    width: 200px;
}
.goals:hover{    
    box-shadow: 0 0 20px 0 #777;
}
/* --------------------------------
     My Mission 2022 Is Ended
---------------------------------- */




/* ------------------------------------
    develop Without limits Is Started
--------------------------------------- */
.banar-half-surcel{
background-image: url(img/shapes/shape-1.png);
background-position: left;
background-repeat: no-repeat;
background-size: 20%;
margin-top: 10%;
padding: 0 10% 0 10%;
}
.one-third-width{    
width: 40%;
}

.one-third-width img{    
width: 100%;
border-radius: 10%;
transition: 1.5s;
}
.one-third-width img:hover{    
    box-shadow: 0 0 30px 0 #777;
}
.two-third-width{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
}
/* ------------------------------------
    develop Without limits Is Ended
--------------------------------------- */




/* ------------------------------------
    Know our Global Community Is Started
--------------------------------------- */
.banar-full-surcel{
    background-image: url(img/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: right  bottom ;
    
    
    background-size:20% ;
    margin-top: 5%;
    
    }
    .two-third-width-golobal-community{
        width: 60%;
        margin-right: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
  
    }

    .one-third-width-golobal-community{    
    width: 40%;
    padding-bottom: 10%;
    }
    
    .one-third-width-golobal-community img{    
    width: 100%;
    border-radius: 10%;
    transition: 1.5s;
    }
    .one-third-width-golobal-community img:hover{    
        box-shadow: 0 0 30px 0 #777;
    }
    
    /* ------------------------------------
        Know our Global Community Is Ended
    --------------------------------------- */

footer{
    background-color: #0B0D17;
    color: white;
    font-family: 'Chewy', cursive;
    font-family: 'Lobster', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2% 0;
    margin: 0%;
    
}
.color-red{
    color: #FF5959;
}

/* @media screen and (min-width: 1550px) {
    body{
        width:1450px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
} */